/*
 * cSans Helpers
 *
 * Some helpers classes for generic purposes
 */

/* Image replacement: Must overwrite background-image, width and height properties in your css */
.image a,.image {
	background-repeat:no-repeat;
	background-color:transparent;
	margin:0;
	padding:0;
	outline:none;
	font-size:0px !important;
	line-height:0em !important;
	letter-spacing:-20px;
	text-indent:-2px;
	display:inline-block;
	overflow:hidden;
	text-align:left;
	border:none;
	color:transparent;
}
h1.image,h2.image,h3.image,h4.image,h5.image,h6.image { display:block; }
a.image,input.image,button.image { cursor:pointer; }
.image a {
	display:block;
	width:100%;
	height:100%;
	height:inherit;
}

/* Clear: Applies clearfix */
.clear:before,.clear:after {
	content:"";
	display:table;
}
.clear:after {
	clear:both;
}

/* Elements visibility */
.hidden { display:none; }
.invisible { visibility:hidden; }
.visually-hidden {
	border:0 !important;
	clip:rect(0 0 0 0) !important;
	position:absolute !important;
	width:1px !important;
	height:1px !important;
	overflow:hidden !important;
	padding:0 !important;
	margin:-1px !important;
}
.visually-hidden.focusable:focus {
	clip: auto;
	position: static;
	overflow: visible;
	width: auto;
	height: auto;
	margin: 0;
}

/* Search input: Make search input equal in all browsers (with the class .no-appearance) */
input[type="search"].no-appearance {
	-webkit-appearance:textfield;
	-moz-appearance:textfield;
}
input[type="search"].no-appearance::-webkit-search-decoration,
input[type="search"].no-appearance::-webkit-search-cancel-button,
input[type="search"].no-appearance::-webkit-search-results-button,
input[type="search"].no-appearance::-webkit-search-results-decoration {
	display:none;
}

/* Aspect ratio: Convert videos, iframes, images, etc to be elastic keeping the aspect ratio */
.aspect-ratio {
	max-width: 100%;
	position: relative;
	height: 0;
	overflow: hidden;
	padding: 0;
}
.aspect-ratio iframe,.aspect-ratio object,.aspect-ratio embed,.aspect-ratio .aspect-ratio-target {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Some predefined aspect ratios: 16:9 and 4:3 */
.aspect-ratio-16-9 { padding-bottom: 56.25%; }
.aspect-ratio-4-3 { padding-bottom: 75%; }
