/*
================================
Clearfix
================================

Simple clearfix hack.
More info: http://www.cssmojo.com/latest_new_clearfix_so_far/
*/

%csans-clearfix::before,
%csans-clearfix::after {
	content: "";
	display: table;
}

%csans-clearfix::after {
	clear: both;
}
