/*
================================
Clearfix
================================

Simple clearfix hack.
More info: http://www.cssmojo.com/latest_new_clearfix_so_far/
*/

.clear::before,
.clear::after {
	content: "";
	display: table;
}

.clear::after {
	clear: both;
}
