/*
================================
Change the visibility of some elements
================================
*/

/* Hide the element */
%csans-hidden {
	display: none;
}

/* Hide de element but maintain the layout */
%csans-invisible {
	visibility: hidden;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
%csans-visuallyhidden {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	margin: -1px !important;
}

%csans-visuallyhidden.focusable:active,
%csans-visuallyhidden.focusable:focus {
	clip: auto;
	position: static;
	overflow: visible;
	width: auto;
	height: auto;
	margin: 0;
}
