/*
 * cSans ui buttons
 *
 * Generic classes to generate buttons with any html element
 * It support also <select> to create dropdown menu
 */

/* Generic button */
.button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	display: -moz-inline-block;
	padding: 0.3em 1em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	text-decoration: none;
	font-style: normal;
	white-space: nowrap;
	margin: 0;
	position: relative;
	overflow: hidden;
	background: #ccc;
	color: black;
	font-size: 1em;
	line-height: 1.25;
	max-width: 100%;
	text-overflow: ellipsis;
}
.button:hover {
	background: #999;
}

/* Forms made button */
form.button {
	padding: 0;
}
form.button fieldset {
	display:inline;
	margin:0;
	border:0
}
form.button button,
form.button input[type="submit"] {
	background: none;
	border: 0;
	padding: 0.3em 1em;
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
}

/* Buttons containing input[type="file"] */
.button input[type="file"] {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

/* Buttons with select */
select.button {
	line-height: 1;
	padding-right: 0.7em;
	padding-left: 0.7em;
	outline: none;
}
select.button option {
	padding: 0 0.5em;
}

.button-select {
	padding: 0;
}
.button-select select {
	font-size: inherit;
	line-height: inherit;
	padding: 0.3em 1em;
	margin: 0;
	border: none;
	background: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	outline: none;
}
.button-select::after, .button-select::before {
	content: '';
	position: absolute;
	pointer-events: none;
}
.button-select::before {
	width: 2.3em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 4px 4px 0;
	background: inherit;
}
.button-select::after {
	position: absolute;
	content: "\25BC";
	height: 1em;
	font-size: 1em;
	line-height: 1;
	right: 1em;
	top: 50%;
	margin-top: -0.5em;
	pointer-events: none;
}
.button-select option {
	padding-right: 1.5em;
}

@supports (-webkit-appearance: none) {
	.button-select select {
		padding-right: 2.5em;
	}
}

/* Disabled button */
.button[disabled],
form.button [disabled],
.button-select [disabled] {
	cursor: default;
	opacity: 0.5;
	pointer-events: none;
}