/*
 * cSans ui link
 *
 * Generic classes to generate links with any html element
 * (it's like cSans buttons but with link appearance)
 */

/* Generic link */
.link, form.link button, form.link input[type="submit"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	text-decoration: underline;
	white-space: nowrap;
	position: relative;
	background: none;
	vertical-align: baseline;
	color: inherit;
}
 form.link button, form.link input[type="submit"] {
 	text-decoration: inherit;
 	font-weight: inherit;
 	font-family: inherit;
 }
.link:hover {
	text-decoration: none;
}
form.link fieldset {
	display:inline;
	margin:0;
	border:0
}

/* Links containing input[type="file"] */
.link input[type="file"] {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

/* Links with select */
select.link, .link-select select {
	outline: none;
}
select.link option {
	padding: 0;
}
.link-select {
	background: white;

}
.link-select select {
	font-size: inherit;
	line-height: inherit;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	text-decoration: inherit;
}
.link-select::after, .link-select::before {
	content: '';
	position: absolute;
	pointer-events: none;
	text-decoration: none;
}
.link-select::before {
	width: 1.2em;
	right: 0;
	top: 0;
	bottom: 0;
	background: inherit;
}
.link-select::after {
	position: absolute;
	content: "\25BC";
	height: 1em;
	font-size: 1em;
	line-height: 1;
	right: 0;
	top: 50%;
	margin-top: -0.5em;
	pointer-events: none;
}

@supports (-webkit-appearance: none) {
	.link-select select {
		padding-right: 1em;
	}
}
